.container {
    text-align: center;
}


.dictionary_search, .dictionary_area {
    text-align: left
}

.dictionary_search {
    float: left;
    width: 60%;
    margin-left: 10%;
    margin-top: 3%;
}

.dictionary_favorite {
    float: right;
    margin-right: 10%;
    margin-top: 3%;
}

.dictionary_favorite {
    border : 1px solid black;
}

.searchRank {
    margin-bottom: 5px;
}
