html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-wrapper {
    min-height: 100%;
    position: relative;
}

.container {
    margin-top: 20px;
    padding-bottom: 30px; /* footer의 높이 */
}

/*헤더 영역 스타일*/
.header {
    text-align : center;
    background-color: white;
    border-bottom: 3px solid #00cc00;
}

/*푸터 영역 스타일*/
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align : center;
    background-color: #F6F6F6;
    border: 1px solid #EAEAEA;
    font-size: 12px;
    height: 50px;
}

.footerInfo {
    margin-top: 20px;
}

.footerInfo a {
    text-decoration-line: none;     /* 링크 밑줄 제거*/
    color: inherit;                 /* 링크 색상 제거 */
}