<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
</head>
<body>
    <!--헤더 영역-->
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <!--바디 영역-->
    <div class="container">

        <input id="sessionId" type="hidden" th:value="${session.id}"/>

        <!--메인 검색 영역-->
        <span class="test">
            <input type="text" class="mainSearch" placeholder="검색어를 입력해주세요.">
            <button class="mainSearchBtn">검색</button>
        </span>

        <!--메뉴 탭 영역-->
        <div class="menu_tab">
            <span>
                <span th:each="tab : ${tabList}">
                    <a th:href="@{${tab.tabLink}}"><button class="tabBtn" th:text="${tab.tabNm}"></button></a>
                </span>
            </span>
        </div>

        <!--로그인 영역-->
        <div class="loginSector">

            <!--로그인 정보 입력 영역-->
            <div th:if="${session.user==null}">
                <form role="form" action="/loginMember" th:object="${loginForm}"  method="post">


                        <label th:for="loginId">아이디</label>
                        <br>
                        <!--*** VALID 처리하려했지만 잘안됨.-->
                        <input type="text" th:field="*{loginId}" class="form-control"
                               th:class="${#fields.hasErrors('loginId')}? 'form-control fieldError' : 'form-control'">
                        <br>
                        <label th:for="loginPw">비밀번호</label>
                        <br>
                        <input type="password" th:field="*{loginPw}" class="form-control"
                               th:class="${#fields.hasErrors('loginPw')}? 'form-control fieldError' : 'form-control'">
                        <br>
                        <button type="submit" style="width:90%" id="login">Login</button>

                        <div align="left">
                            <a href="*">아이디 찾기</a><br>
                            <a href="*">비밀번호 찾기</a><br>
                            <a href="/join">회원 가입</a>
                        </div>

                        <div id="naverIdLogin"></div>

                </form>
            </div>

            <!--로그인 정보 출력 영역-->
            <div th:if="${session.user!=null}">
                로그인 정보 출력이다
                <div id="loginInfo" align="left">
                    <p>이름 : <span th:text="${session.name}"></span></p>
                    <p>ID : <span th:text="${session.id}"></span></p>
                    <p>email : <span th:text="${session.email}"></span></p>
                    <button id='btn_logout'>로그아웃</button>
                </div>
                </div>
            </div>
        </div>

        <!--메인 대시보드 영역-->
    </div>

    <!--푸터 영역-->
    <div th:replace="fragments/footer :: footer" />
</body>
<script type="text/javascript">
/*HTML 로딩 후 실행 함수=================================================================================================*/
$(document).ready(function(){
    console.log('ready function');
});


/*이벤트 함수 =================================================================================================*/
//로그아웃 버튼 클릭
$('#btn_logout').on('click', function () {

    var request = $.ajax({
      url       : "/session/disConnectionSession", 	// 통신할url
      method    : "POST",			                // 통신할 메서드 타입
      dataType  : "html"			                // 전송받은 데이터를 변환시킬 컨텐츠 타입
    });

    request.done(function( data ) {
        naverLogin.logout();
        location.replace("http://localhost:8081");
    });

});

$('.mainSearch').on('focus',function(e){
    e.preventDefault();
    console.log('focus');
    var id = $('#sessionId').val();
    console.log('id = ' + id);

    selectSearchList(id);

});

/*사용자 정의 함수 =================================================================================================*/
//네이버 로그인
const naverLogin = new naver.LoginWithNaverId({
    clientId    : "K9TJfmrbHamf0arWWpQa",                   //발급받은 Client ID
    callbackUrl : "http://localhost:8081",                  //지정한 CallBack URL
    loginButton : {color: "green", type: 3, height: 40}     //로그인 버튼 타입
});

naverLogin.init();

//로그인 상태 체크
naverLogin.getLoginStatus(function (status) {

    if (status) {
        const id        = naverLogin.user.getId();
        const nickName  = naverLogin.user.getNickName();
        const age       = naverLogin.user.getAge();
        const birthday  = naverLogin.user.getBirthday();

        if(id === null || id === undefined){
            alert("정보제공에 동의해주세요.");
            naverLogin.reprompt();
            return ;
        } else {
            //세션 정보 생성
            createSession();
        }//end if()
    }//end if()
});//end getLoginStatus()

//세션 정보 생성
function createSession() {

    var data = {
        "age"               : naverLogin.user.age               //나이
        , "birthday"        : naverLogin.user.birthday          //생일 일월
        , "email"           : naverLogin.user.email             //이메일
        , "gender"          : naverLogin.user.gender            //성별
        , "id"              : naverLogin.user.id                //아이디
        , "name"            : naverLogin.user.name              //이름
        , "nickname"        : naverLogin.user.nickname          //별명
        , "profile_image"   : naverLogin.user.profile_image     //프로필 사진
        , "loginWay"        : "Naver"                           //로그인 수단 (네이버)
    }

    var request = $.ajax({
      url       : "/session/connectionSession", 	// 통신할url
      method    : "POST",			                // 통신할 메서드 타입
      data      : data,		                        // 전송할 데이터
      dataType  : "html"			                // 전송받은 데이터를 변환시킬 컨텐츠 타입
    });

    //정상적으로 통신이 완료되었을 때 실행되는 메소드. 인수값인 함수를 실행시킴(콜백함수)
    request.done(function( data ) {
        location.reload();
    });

    //에러가 발생했을 때 실행되는 메서드
    request.fail(function( jqXHR, textStatus ) {
        alert( "Request failed: " + textStatus );
    });

    //네이버 회원 정보 저장
    createNaverMember();

}//end createSession()

//네이버 회원 정보 저장
function createNaverMember() {
    console.log('createNaverMember start ====');

    var data = {
        "email"     : naverLogin.user.email //이메일
        , "loginId" : naverLogin.user.id    //아이디
        , "name"    : naverLogin.user.name  //이름
    }

    var request = $.ajax({
      url       : "/join", 	            // 통신할url
      method    : "POST",			    // 통신할 메서드 타입
      data      : data,		            // 전송할 데이터
      dataType  : "html"			    // 전송받은 데이터를 변환시킬 컨텐츠 타입
    });

    //정상적으로 통신이 완료되었을 때 실행되는 메소드. 인수값인 함수를 실행시킴(콜백함수)
    request.done(function( data ) {
        location.reload();
    });
}//end createNaverMember()

function selectSearchList(id) {
    console.log('recentSearchList start');

    var data = {
        "id" : id
    }

    var request = $.ajax({
      url       : "/selectSearchList", 	// 통신할url
      method    : "POST",			    // 통신할 메서드 타입
      data      : data,		            // 전송할 데이터
      dataType  : "html"			    // 전송받은 데이터를 변환시킬 컨텐츠 타입
    });

    request.done(function( data ) {
        console.log(JSON.stringify(data));
    });
}//end selectSearchList()
</script>
</html>